.disabled-window-form {
  opacity: 0.7;
  pointer-events: none;
}


.action-modal-content {
  position: relative;
  background-color: white;
  box-shadow: 0 5px 10px 4px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  min-height: 60vh;
}

.action-modal-cross {
  color: #212529;
  position: absolute;
  right: 0;
  top: 0;
  padding: 1.4rem;
}

.window-from-content {
  position: relative !important;
  padding: 10vh 0;
}